@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

*,
html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins";
}

:root {
  --green: hsl(161, 29%, 30%);
  --red: hsl(340, 30%, 50%);
  --blue: hsl(201, 30%, 50%);
  --orange: hsl(29, 30%, 50%);
  --transition: 0.5s all ease;
  --hair: hsl(64, 57%, 10%);
  --shirt: hsl(72, 16%, 90%);
}

html {
  scroll-behavior: smooth;
}

.scroll-snap-parent {
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
  height: 100vh;
}
.hero-container {
  position: relative;
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  scroll-snap-align: start;
}

.bndsrvnt {
  font-family: "Playfair Display";
  font-weight: 400;
}

#listen {
  background-image: url(assets/WTWWD.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.hero-header {
  color: white;
  font-size: clamp(2rem, 15vw, 15rem);
  font-family: "Playfair Display";
  font-weight: 400;
  margin-bottom: 1.5rem;
}

.hero-cta {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.play-btn {
  border: 1px solid white;
  height: 70px;
  width: 70px;
  border-radius: 50%;
  position: relative;
  transition: var(--transition);
}

.play-btn:hover {
  border: 1px solid var(--red);
  animation: rotation 2s infinite linear;
  background-color: var(--red);
}

.play-btn img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}

button {
  padding: 0.2em 0.8em;
  font-size: clamp(1rem, 3.5vw, 1.5rem);
  border-radius: 0.2em;
  outline: none;
  background-color: hsl(0, 0%, 90%, 0.5);

  transition: var(--transition);
}

.socials {
  padding: 1.5rem 0;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.socials a {
  display: block;
  margin: 0.5rem auto;
  color: var(--hair);
  text-decoration: none;
  width: 35px;
}

.social-icon {
  width: 35px;
}

@media (min-width: 600px) {
  .socials {
    flex-direction: row;
  }
}

.hero-container.orange button {
  color: var(--orange);
  border: 1px solid var(--orange);
}
.hero-container.orange button:hover {
  background-color: var(--orange);
}
.hero-container button:hover {
  cursor: pointer;
  color: white;
}

#about {
  background-color: var(--shirt);
}
.about-text {
  color: var(--hair);
  text-align: center;
  width: 95%;
  margin: 0 auto;
}
.flex-col {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 45ch;
}
#about h1,
#about sub {
  color: var(--orange);
  text-align: center;
}

#about .profile-pic {
  width: 200px;
  height: 200px;
  margin: 1.5rem auto;
  border-radius: 50%;
  object-fit: cover;
}
#about h1 {
  font-size: 2.5rem;
}
#about sub {
  font-size: 1rem;
}
#about p {
  margin-top: 2rem;
  color: var(--hair);
}

.quote {
  border: 1px solid var(--hair);
  border-radius: 1em;
  padding: 1em;
  margin-top: 1rem;
  filter: opacity(0.85);
  font-size: 0.9rem;
  text-align: justify;
  box-shadow: -2px 2px 2px var(--orange);
}
